
<div class="showView">
  <h1>Make your changes...</h1>


<%= render 'form' %>

<%= link_to 'Read', @todo_item %>&nbsp;
<%= image_tag('glasses.png'), align: right %>&nbsp;|
<%= link_to 'Back', todo_items_path %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/assets/showView.js"</script>
